/* Visualize */
.heading {
  padding-top: 80px;
  font-weight: 600;
  padding-bottom: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 66px;
    line-height: 69px;
    color: #a12fe7;
    background-color: azure;
    margin-top: 20px; /* Adjust spacing as needed */
  }
  .subheading{
    font-style: italic;
    background-color: azure;
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    padding-bottom: 60px;
  }
  /* Cards Container */
  .cardscontainer {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  /* Card Styles */
  .card {
    width: 284px;
    height: 329px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgb(117, 114, 118); 
    transition: transform 0.3s ease-in-out;
  }  
  .card:hover {
    transform: scale(1.2); /* Increase the scale of the card on hover */
  }

  .card img {
    width: 70%;
    height: auto;
    padding-left: 45px;
    border-radius: 30px 30px 0 0; /* Adjust border-radius to match card */
  }
  
  .cardtext {
    font-family: 'Poppins';
    color: black;
    font-style:italic;
    font-size: large;
    text-align: center;
    padding: 15px; /* Adjust padding as needed */
  }

  .pie{
    margin-top:10px;
  }
  
  .bar{
    margin-top:10px;
  }
  /* Adjust individual card positions if necessary */
  .a{
    color: white;
  }
  .try{
    padding-top: 190px;
    text-align: center;
  }
  .button {
    font-family: "Poppins";
    padding-top: 200px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 76px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a12fe7; /* Green */
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #dcb4e9; /* Darker green */
  }

  .button a{
    font-family: "Poppins";
    color: white;
  }