.heading{
    text-align: center;
    justify-content: center;
    color: black;
    font-size:x-large;
    font-family:"Poppins";
    padding-top: 15%;

}
.conatiner{
    color: black;
    font-family: "Poppins";
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
}

.footer{
    text-align: center;
    font-family: "Poppins";
    color: rgb(135, 0, 224);
}