.heading{
    text-align: center;
    justify-content: center;
    color: black;
    font-size:40px;
    font-weight: 600;
    font-family:"Poppins";
    padding-top: 15%;

}
.flex{
    display: flex;
}
.container{
    color: black;
    font-family: "Poppins";
    justify-content: center;
    padding-left: 800px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
}

.footer{
    text-align: center;
    font-family: "Poppins";
    color: rgb(135, 0, 224);
}