.gradientbackground {
    width: 100%;
    height: 65vh; /* Adjust as needed */
    background: linear-gradient(to bottom, #a16ecd, #a12fe7);/* Adjust colors as needed */
    /* You can adjust gradient direction and colors */
    /* For example, 'to right' means the gradient goes from left to right */
    
  }
  .headingtry{
    position:absolute;
    color:white;
    font-size: x-large;
    font-family: "Poppins";
    justify-content: center;
    text-align: center;
    left:579px;
    top:2165px;
  }

  .box{
    /* Rectangle 58 */

box-sizing: border-box;

position: absolute;
width: 190px;
height: 69px;
left: 533px;
top: 2150px;

background: rgba(217, 217, 217, 0.08);
border: 3px solid #FFFFFF;
border-radius: 30px;

  }

.heading{
  position: absolute;
  width: 123px;
  height: 66px;
  left: 574px;
  top: 1560px;
  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-size: 46px;
  line-height: 69px;
  
  color: #FFFFFF;
  
}  

.card1{
  /* Rectangle 14 */

position: absolute;
width: 284px;
height: 329px;
left: 102px;
top: 1703px;

background: rgba(217, 217, 217, 0.07);
border-radius: 30px;

}

.target{
  position: absolute;
  left:45px;
  top:50px;
}

.textcard1{
  color:white;
  font-family: "Poppins";
  font-size:large;
  position: absolute;
  left:49px;
  top:220px;
}

.card2{
  /* Rectangle 15 */

position: absolute;
width: 284px;
height: 329px;
left: 488px;
top: 1703px;

background: rgba(217, 217, 217, 0.11);
border-radius: 30px;

}

.people{
  position: absolute;
  left:25px;
  top:30px;
}

.textcard2{
  position: relative;
  color:white;
  font-family: "Poppins";
  font-size: large;
  left:30px;
  top:30px;
}

.card3{
  position: absolute;
width: 284px;
height: 329px;
left: 875px;
top: 1703px;

background: rgba(217, 217, 217, 0.18);
border-radius: 30px;
}

.brain{
  position: absolute;
  left:30px;
  top:30px;

}

.textcard3{
  position: absolute;
  color:white;
  font-family: "Poppins";
  font-size: large;
  top:230px;
  left:15px;  
}