
.navbar {
    display: flex;
    justify-content: space-between; /* Aligns children to the start, center, and end of the flex container */
    align-items: center; /* Aligns children vertically at the center */
    padding: 10px;
    color: white;
    font-family: "Poppins";
    font-size: 12px;
        width: 100%;
        height: 100vh; /* Adjust as needed */
        background: linear-gradient(to bottom, #cf9ef9, #a12fe7);  /* Adjust colors as needed */
        /* You can adjust gradient direction and colors */
        /* For example, 'to right' means the gradient goes from left to right */
            
      
    
  }
  
  .leftlinks, .rightlinks {
    display: flex;
  }
  
  .leftlinks a, .rightlinks a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  
  .centerlink {
    font-size: large;
    text-align: center;
  }
  
  .centerlink a {
    color: white;
    text-decoration: none;
  }
  