.gradientbackground {
  width: 100%;
  height: 100vh; /* Adjust as needed */
  background: linear-gradient(to top, #a16ecd, #a12fe7);  /* Adjust colors as needed */
  /* You can adjust gradient direction and colors */
  /* For example, 'to right' means the gradient goes from left to right */
      
}


.navbar {
  display: flex;
  justify-content: space-between; /* Aligns children to the start, center, and end of the flex container */
  align-items: center; /* Aligns children vertically at the center */
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-size: 12px;

          
    
  
}

.leftlinks, .rightlinks {
  display: flex;
  font-size: medium;
}

.leftlinks a, .rightlinks a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.centerlink {
  font-size: x-large;
  text-align: center;
}

.centerlink a {
  color: white;
  text-decoration: none;
}

  .text{
    font-family: 'Poppins';
    font-size: 45px;
    padding-top: 10%;
    color: white;
    text-align: center;
    font-weight: 1;
  }

  .textsmall{
    color: white;
    justify-content: center;
    text-align: center;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 10;
    font-size: 30px;
  }
  
  .animatedtext1 {
    animation: slide-in 3s ease ; /* Animation name, duration, timing function, iteration count */
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animatedtext2{
  animation: move-in 3s ease;
}

@keyframes move-in {
  0%{
    transform:translateX(-100%);
    opacity:0;
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
