.gradientbackground {
    width: 100%;
    height: 20vh; /* Adjust as needed */
    background: linear-gradient(to top, #a16ecd, #a12fe7); /* Adjust colors as needed */
    /* You can adjust gradient direction and colors */
    /* For example, 'to right' means the gradient goes from left to right */
        
  }

  .heading{
    position:absolute;
    color:white;
    font-size: x-large;
    font-family: "Poppins";
    justify-content: center;
    text-align: center;
    left:579px;
    top:2185px;
  }

  .box{
    /* Rectangle 58 */

box-sizing: border-box;

position: absolute;
width: 190px;
height: 69px;
left: 533px;
top: 2170px;

background: rgba(217, 217, 217, 0.08);
border: 3px solid #FFFFFF;
border-radius: 30px;

  }