.gradientbackground{
    width: 100%;
    height: 100%; /* Adjust as needed */
    background: linear-gradient(to right, #510396, #ef03e7); /* Adjust colors as needed */
    /* You can adjust gradient direction and colors */
    /* For example, 'to right' means the gradient goes from left to right */
    
  }